:root {
  --color-background: #121212;
  --color-background-secondary: ;
  --color-foreground: #292929;
  --color-border: #414141;
  --color-text-body: #f5f5f5;
  --color-text-secondary: #f6f6f6;
  --color-text-invert: #414141;
  --color-text-link: #ff4500;
  --color-branding: #f13d5a;
  --color-branding-transparent: #c4c4c4;

  --color-alert: #ff304f;
  --color-success: #45b81f;
  --color-on-hover: #ffffff;

  --box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
    0 4px 6px -2px rgba(255, 255, 255, 0.05) !important;
  --box-shadow-hover: 0 20px 25px -5px rgba(255, 255, 255, 0.1),
    0 10px 10px -5px rgba(255, 255, 255, 0.04) !important;

  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 36px;
  --spacing-5: 64px;

  --radius: 4px;
  --radius-2: 8px;
}

html,
body {
  background: var(--color-background);
  color: var(--color-text-body);
}

p {
  margin: 0;
}
